/*
 * Component: Box
 * --------------
 */
 .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
  }
  .box.box-primary {
    border-top-color:  #3c8dbc;/*linear-gradient(45deg, #0288d1 0%, #26c6da 100%)*/
  }
  .box.box-info {
    border-top-color: #00c0ef;
  }
  .box.box-danger {
    border-top-color: #dd4b39;
  }
  .box.box-warning {
    border-top-color: #f39c12;
  }
  .box.box-success {
    border-top-color: #00a65a;
  }
  .box.box-default {
    border-top-color: #d2d6de;
  }
  .box.collapsed-box .box-body,
  .box.collapsed-box .box-footer {
    display: none;
  }
  .box .nav-stacked  li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
  }
  .box .nav-stacked  li:last-of-type {
    border-bottom: none;
  }
  .box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
  }
  .box .border-right {
    border-right: 1px solid #f4f4f4;
  }
  .box .border-left {
    border-left: 1px solid #f4f4f4;
  }
  .box.box-solid {
    border-top: 0px;
  }
  .box.box-solid  .box-header .btn.btn-default {
    background: transparent;
  }

  .btn-compose
  {
      margin-top: 15px;
      background:linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  }
  .box.box-solid  .box-header .btn:hover,
  .box.box-solid  .box-header a:hover {
    background: rgba(0, 0, 0, 0.1) !important;
  }
  .box.box-solid.box-default {
    border: 1px solid #d2d6de;
  }
  .box.box-solid.box-default  .box-header {
    color: #444444;
    background: #d2d6de;
    background-color: #d2d6de;
  }
  .box.box-solid.box-default  .box-header a,
  .box.box-solid.box-default  .box-header .btn {
    color: #444444;
  }
  .box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
  }
  .box.box-solid.box-primary  .box-header {
    color: #ffffff;
    background: #3c8dbc;
    background-color: #3c8dbc;
  }
  .box.box-solid.box-primary  .box-header a,
  .box.box-solid.box-primary  .box-header .btn {
    color: #ffffff;
  }
  .box.box-solid.box-info {
    border: 1px solid #00c0ef;
  }
  .box.box-solid.box-info  .box-header {
    color: #ffffff;
    background: #00c0ef;
    background-color: #00c0ef;
  }
  .box.box-solid.box-info  .box-header a,
  .box.box-solid.box-info  .box-header .btn {
    color: #ffffff;
  }
  .box.box-solid.box-danger {
    border: 1px solid #dd4b39;
  }
  .box.box-solid.box-danger  .box-header {
    color: #ffffff;
    background: #dd4b39;
    background-color: #dd4b39;
  }
  .box.box-solid.box-danger  .box-header a,
  .box.box-solid.box-danger  .box-header .btn {
    color: #ffffff;
  }
  .box.box-solid.box-warning {
    border: 1px solid #f39c12;
  }
  .box.box-solid.box-warning  .box-header {
    color: #ffffff;
    background: #f39c12;
    background-color: #f39c12;
  }
  .box.box-solid.box-warning  .box-header a,
  .box.box-solid.box-warning  .box-header .btn {
    color: #ffffff;
  }
  .box.box-solid.box-success {
    border: 1px solid #00a65a;
  }
  .box.box-solid.box-success  .box-header {
    color: #ffffff;
    background: #00a65a;
    background-color: #00a65a;
  }
  .box.box-solid.box-success  .box-header a,
  .box.box-solid.box-success  .box-header .btn {
    color: #ffffff;
  }
  .box.box-solid  .box-header  .box-tools .btn {
    border: 0;
    box-shadow: none;
  }
  .box.box-solid[class*='bg']  .box-header {
    color: #fff;
  }
  .box .box-group  .box {
    margin-bottom: 5px;
  }
  .box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
  }
  .box  .overlay,
  .box  .loading-img {
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .box .overlay {
    z-index: 1010;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
  }
  .box .overlay  .fa,
  .box .overlay  .far {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
  }
  .box .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
  }
  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
  }
  .box-header:before,
  .box-header:after {
    content: " ";
    display: table;
  }
  .box-header:after {
    clear: both;
  }
  .box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
  }
  .collapsed-box .box-header.with-border {
    border-bottom: none;
  }
  .box-header  .fa,
  .box-header  .far,
  .box-header  .glyphicon,
  .box-header  .ion,
  .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
  }
  .box-header  .fa,
  .box-header  .far,
  .box-header  .glyphicon,
  .box-header  .ion {
    margin-right: 5px;
  }
  .box-header  .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .box-header  .box-tools [data-toggle="tooltip"] {
    position: relative;
  }
  .box-header  .box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    box-shadow: none!important;
    color: #97a0b3;
  }
  .open .btn-box-tool,
  .btn-box-tool:hover {
    color: #606c84;
  }
  .btn-box-tool:active {
    outline: none!important;
  }
  .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
  }
  .no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .box-body  .table {
    margin-bottom: 0;
  }
  .box-body  .chart {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .box-body  .chart svg,
  .box-body  .chart canvas {
    width: 100%!important;
  }
  .box-body .fc {
    margin-top: 5px;
  }
  .box-body .full-width-chart {
    margin: -19px;
  }
  .box-body.no-padding .full-width-chart {
    margin: -9px;
  }
  .box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
  }
  .box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
  }
  .box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #ffffff;
  }
  .chart-legend {
    margin: 10px 0;
  }
  @media (max-width: 991px) {
    .chart-legend  li {
      float: left;
      margin-right: 10px;
    }
  }

  /*
 * Component: Nav
 * --------------
 */
/* NAV PILLS */
.nav-pills  li  a {
    border-radius: 0;
    border-top: 3px solid transparent;
    color: #444;
  }
  .nav-pills  li  a  .fa,
  .nav-pills  li  a  .far,
  .nav-pills  li  a  .glyphicon,
  .nav-pills  li  a  .ion {
    margin-right: 5px;
  }
  .nav-pills  li.active  a,
  .nav-pills  li.active  a:hover {
    background-color: #f4f4f4;
    border-top-color: #3c8dbc;
    color: #444;
  }
  .nav-pills  li.active  a {
    font-weight: 600;
  }
  .nav-pills  li  a:hover {
    background-color: #f6f6f6;
  }
  /* NAV STACKED */
  .nav-stacked  li  a {
    border-radius: 0;
    border-top: 0;
    border-left: 3px solid transparent;
    color: #444;
  }
  .nav-stacked  li.active  a,
  .nav-stacked  li.active  a:hover {
    background-color: #f4f4f4;
    border-top: 0;
    border-left-color: #3c8dbc;
    color: #444;
  }
  .nav-stacked  li.header {
    border-bottom: 1px solid #ddd;
    color: #777;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
  }


  /* NAV STACKED */
.nav-stacked  li  a {
    border-radius: 0;
    border-top: 0;
    border-left: 3px solid transparent;
    color: #444;
  }
  .nav-stacked  li.active  a,
  .nav-stacked  li.active  a:hover {
    background-color: #f4f4f4;
    border-top: 0;
    border-left-color: #3c8dbc;
    color: #444;
  }
  .nav-stacked  li.header {
    border-bottom: 1px solid #ddd;
    color: #777;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
  }

  .nav  li  a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
/**Btn**/
.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    font-weight: 400;
    margin-bottom: 0;
    background-image: none;
    height: auto !important;
}
.btn-group-sm  .btn,
.btn-sm {
    padding: 2.5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-primary {
background-color: #3c8dbc;
border-color: #367fa9;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
background-color: #367fa9;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
  }
  .btn-default:hover,
  .btn-default:active,
  .btn-default.hover {
    background-color: #e7e7e7 !important;
  }
  .btn-group
  {
    margin-left: 5px;
    margin-right:5px;
  }
  .btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group-sm  .btn, .btn-sm,
.btn-sm i {
  font-size: 12px;
  line-height: 1.5;
}
/** Margin **/
.margin-bottom {
    margin-bottom: 20px;
  }


  /*
 * Page: Mailbox
 * -------------
 */
.mailbox-messages  .table {
    margin: 0;
  }
  .mailbox-controls {
    padding: 10px;
  }
  .mailbox-controls.with-border {
    border-bottom: 1px solid #f4f4f4;
  }
  .mailbox-read-info {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
  }
  .mailbox-read-info h3 {
    font-size: 20px;
    margin: 0;
  }
  .mailbox-read-info h5 {
    margin: 0;
    padding: 5px 0 0 0;
  }
  .mailbox-read-time {
    color: #999;
    font-size: 13px;
  }
  .mailbox-read-message {
    padding: 10px;
  }
  .mailbox-attachments li {
    float: left;
    width: 200px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .mailbox-attachment-name {
    font-weight: bold;
    color: #666;
  }
  .mailbox-attachment-icon,
  .mailbox-attachment-info,
  .mailbox-attachment-size {
    display: block;
  }
  .mailbox-attachment-info {
    padding: 10px;
    background: #f4f4f4;
  }
  .mailbox-attachment-size {
    color: #999;
    font-size: 12px;
  }
  .mailbox-attachment-icon {
    text-align: center;
    font-size: 65px;
    color: #666;
    padding: 20px 10px;
  }
  .mailbox-attachment-icon.has-img {
    padding: 0;
  }
  .mailbox-attachment-icon.has-img  img {
    max-width: 100%;
    height: auto;
  }
  .mailbox .table-mailbox {
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
  }
  .mailbox .table-mailbox tr.unread  td {
    background-color: rgba(0, 0, 0, 0.05);
    color: #000;
    font-weight: 600;
  }
  .mailbox .table-mailbox tr  td  .fa.fa-star,
  .mailbox .table-mailbox tr  td  .fa.fa-star-o,
  .mailbox .table-mailbox tr  td  .glyphicon.glyphicon-star,
  .mailbox .table-mailbox tr  td  .glyphicon.glyphicon-star-empty {
    color: #f39c12;
    cursor: pointer;
  }
  .mailbox .table-mailbox tr  td.small-col {
    width: 30px;
  }
  .mailbox .table-mailbox tr  td.name {
    width: 150px;
    font-weight: 600;
  }
  .mailbox .table-mailbox tr  td.time {
    text-align: right;
    width: 100px;
  }
  .mailbox .table-mailbox tr  td {
    white-space: nowrap;
  }
  .mailbox .table-mailbox tr  td  a {
    color: #444;
  }
  @media (max-width: 991px) {
    .mailbox .nav-stacked  li:not(.header) {
      float: left;
      width: 50%;
    }
    .mailbox .nav-stacked  li:not(.header).header {
      border: 0!important;
    }
    .mailbox .search-form {
      margin-top: 10px;
    }
  }

  /**Labels & bg**/
  .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-danger,
.label-info,
.label-waring,
.label-primary,
.label-success
{
    color: #fff !important;
}

bg-gray {
    color: #000;
    background-color: #d2d6de !important;
  }
  .bg-black {
    background-color: #111111 !important;
  }
  .bg-red,
  .callout.callout-danger,
  .alert-danger,
  .alert-error,
  .label-danger,
  .modal-danger .modal-body {
    background-color: #dd4b39 !important;
  }
  .bg-yellow,
  .callout.callout-warning,
  .alert-warning,
  .label-waring,
  .modal-warning .modal-body {
    background-color: #f39c12 !important;
  }
  .bg-aqua,
  .callout.callout-info,
  .alert-info,
  .label-info,
  .modal-info .modal-body {
    background-color: #00c0ef !important;
  }
  .bg-blue {
    background-color: #0073b7 !important;
  }
  .bg-light-blue,
  .label-primary,
  .modal-primary .modal-body {
    background-color: #3c8dbc !important;
  }
  .bg-green,
  .callout.callout-success,
  .alert-success,
  .label-success,
  .modal-success .modal-body {
    background-color: #00a65a !important;
  }


  /*
 * Component: Table
 * ----------------
 */
.table  thead  tr  th,
.table  tbody  tr  th,
.table  tfoot  tr  th,
.table  thead  tr  td,
.table  tbody  tr  td,
.table  tfoot  tr  td {
  border-top: 1px solid #f4f4f4;
}
.table  thead  tr  th {
  border-bottom: 2px solid #f4f4f4;
}
.table tr td .progress {
  margin-top: 5px;
}
.table-bordered {
  border: 1px solid #f4f4f4;
}
.table-bordered  thead  tr  th,
.table-bordered  tbody  tr  th,
.table-bordered  tfoot  tr  th,
.table-bordered  thead  tr  td,
.table-bordered  tbody  tr  td,
.table-bordered  tfoot  tr  td {
  border: 1px solid #f4f4f4;
}
.table-bordered  thead  tr  th,
.table-bordered  thead  tr  td {
  border-bottom-width: 2px;
}
.table.no-border,
.table.no-border td,
.table.no-border th {
  border: 0;
}
/* .text-center in tables */
table.text-center,
table.text-center td,
table.text-center th {
  text-align: center;
}
.table.align th {
  text-align: left;
}
.table.align td {
  text-align: right;
}
td,th
{
  padding: 10px 5px;
}