<div class="container">
    <div class="section">
        <p class="caption">Votre MailBox</p>
        <div class="divider"></div>

        <div class="row">
            <div class="col s12 m12">
                <div class="row">
                    <div class="col s12 m3">
                        <app-btn-part label="Compose"></app-btn-part>
                        <app-container-part title="Folders">
                            <app-folder-part-item
                                link="#"
                                etiquette="12"
                                etiquetteClass="label-primary"
                                label="Boite de reception"
                                fa_icon="fa fa-inbox"
                            ></app-folder-part-item>
                            <app-folder-part-item
                                link="#"
                                label="Envoyer"
                                fa_icon="far fa-paper-plane"
                            ></app-folder-part-item>
                            <app-folder-part-item
                                link="#"
                                label="Brouillons"
                                fa_icon="far fa-file-alt"
                            ></app-folder-part-item>
                            <app-folder-part-item
                                link="#"
                                etiquette="65"
                                etiquetteClass="label-waring"
                                label="Filtre"
                                fa_icon="fa fa-filter"
                            ></app-folder-part-item>
                            <app-folder-part-item
                                link="#"
                                label="Corbeille"
                                fa_icon="far fa-trash-alt"
                            ></app-folder-part-item>                        
                        </app-container-part>
                        <app-container-part title="Labels">
                            <app-label-part-item
                                label="Important"
                                fa_color="red-text"
                            ></app-label-part-item>
                            <app-label-part-item
                                label="Promotions"
                            ></app-label-part-item>
                            <app-label-part-item
                                label="Social"
                                fa_color="lighten-1 blue-text"
                            ></app-label-part-item>            
                        </app-container-part>
                    </div><!-- /.col -->
                    <div class="col s12 m9">
                        <ng-content></ng-content>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>
    </div>
</div>
