<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<div class="container">
    <div class="section">
        <p class="caption">Couriers</p>
        <div class="divider"></div>
        <div class="row ">
            <div class="col s12"> 
              <div class="caption">
                <div class="row">
                    <div class="col s6 offset-m3">
                        <div class="header-search-wrapper">
                            <i class="material-icons">search</i>
                            <input type="text" (keyup)="findCourier($event)" [formControl]="courierFindInput" name="Search" class="header-search-input z-depth-2" placeholder="Rechercher courier" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table class="striped Highlight centered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Objet</th>
                            <th>Source</th>
                            <th>Destinataire</th>
                            <th>Voix transmission</th>
                            <th>Date transmission</th>
                            <th>Confidentielle</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let courier of currListCourier">
                            <td>{{courier.objet}}</td>
                            <td>{{courier.source}}</td>
                            <td>{{courier.destinataire}}</td>
                            <td>{{courier.voiTranmission}}</td>
                            <td>{{courier.isSortant()?courier.dateSorti:courier.dateArrive}}</td>
                            <td> {{courier.isConfidentielle? 'Oui' : 'Non'}} </td>
                            <td>{{courier.isSortant()? 'Sortant' : 'Entrant'}}</td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
              