<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<div class="container">
  <div class="section">
    <p class="caption">Couriers</p>
    <div class="divider"></div>
    <div class="row ">
      <div class="col s12">
        <div class="caption">
          <div class="row">
            <div class="col s6 offset-m3">
              <div class="header-search-wrapper">
                <i class="material-icons">search</i>
                <input type="text" (keyup)="findCourier($event)" [formControl]="courierFindInput" name="Search"
                  class="header-search-input z-depth-2" placeholder="Rechercher courier" />
              </div>
              <!-- <div class="col s4 offset-m3">
                <select>
                  <option selected value="Source">Source</option>
                  <option value="Source">Source</option>
                  <option value="Date départ">Date arrivé</option>
                  <option value="Numéro courier">Numéro courier</option>
                  <option value="Option">Option</option>
                </select>
              </div>               -->
            </div>
            <div class="col s2">
              <a class="btn btn-default btn-sm  modal-trigger" href="#modal" title="Ajouter couriers"><i
                  class="material-icons">add</i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Structure -->
      <div id="modal" class="modal">
        <div class="modal-box-header">
          <h3 style="margin:5px">Remplissez les informations du courier arrivé</h3>
          <div class="divider"></div>
        </div>
        <div class="modal-body">
          <div class="container">
            <form [formGroup]="formModalArrive" *ngIf="!waitingModalForm">
              <div class="row">
                <div class="input-field col s3">
                  <input id="id" type="text" disabled>
                  <label for="id">Id courier</label>
                </div>
                <div class="input-field col s4">
                  <input [formControlName]="'dateArrive'" class="datepicker_new_courier" id="dateArrive" type="date">
                  <label for="dateArrive">Date de arrivé</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s4">
                  <input [formControlName]="'source'" id="source" type="text">
                  <label for="source">Source</label>
                </div>
                <div class="input-field col s4">
                  <select [formControlName]="'serviceDestinataire'" id="serviceDestinataire">
                    <option selected disabled>Service destinataire</option>
                    <option value="Direction Général">Direction Général</option>
                    <option value="RSAF">RSAF</option>
                    <option value="Service Comptable">Service Comptable</option>
                    <option value="Service Technique">Service Technique</option>
                    <option value="Sécretariat">Sécretariat</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s4">
                  <select [formControlName]="'type'" id="type">
                    <option selected disabled>Voie de transmission</option>
                    <option value="Postale">Voie postale</option>
                    <option value="Electronique">Voe électronique</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <select [formControlName]="'option'" id="option">
                    <option selected disabled>Confidentialité</option>
                    <option value="Oui">Confidentiel</option>
                    <option value="Non">Non Confidentiel</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s8">
                  <input [formControlName]="'objet'" id="objet" type="text">
                  <label for="objet">Objet</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input [formControlName]="'observation'" id="observation" type="text">
                  <label for="observations">Observations générales</label>
                </div>
              </div>


              <div class="row">
                <div class="col s12 center red-text" *ngIf="!formModalArrive.valid">{{errorModalFormMessage}}</div>
              </div>
            </form>

            <div class="row" *ngIf="waitingModalForm">
              <div class="progress">
                <div class="indeterminate"></div>
              </div>
              <div class="center">
                Veuillez patientez...
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="divider"></div>
          <button (click)="closeModal()" class="waves-effect waves-red btn-flat">Annuler</button>
          <button (click)="submitModalForm()" class="waves-effect waves-green btn-flat">Enregistrer</button>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <table class="striped Highlight centered">
            <thead>
              <tr>
                <th>Source</th>
                <th>Service destinataire</th>
                <th>Objet</th>
                <th>Date arrivée</th>
                <th>Type</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let courier of currListeEntrant">
                <td>{{courier.source}}</td>
                <td>{{courier.serviceDestinataire}}</td>
                <td>{{courier.object}}</td>
                <td>{{courier.dateArrive}}</td>
                <td>{{courier.voiTranmission}}</td>
                <td> {{courier.isConfidentielle}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
