<!-- START FOOTER -->
    <footer class="page-footer gradient-45deg-light-blue-cyan">
        <div class="footer-copyright">
          <div class="container">
            <span>Copyright ©
              <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script> <a class="grey-text text-lighten-2" href="http://yaba-in.com" target="_blank">Yaba-In</a> All rights reserved.</span>
            <span class="right hide-on-small-only"> By <a class="grey-text text-lighten-2" href="mailto:n.cedric@yaba-in.com">Cedric Nguendap</a></span>
          </div>
        </div>
    </footer>
    <!-- END FOOTER -->