<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<!--start container-->
<div class="container">
    <div class="section">
        <p class="caption">Remplissez vos informations</p>
        <div class="divider"></div>
        <!--Start formulaire cv-->
        <div class="row">
            <form class="col s12">  
                <div class="row">
                    <div class="input-field col s6">
                        <input id="ref_dossier" type="text">
                        <label for="ref_dossier">Réf. Dossier</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="titre_dossier" type="text">
                        <label for="titre_dossier">Titre du dossier</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="id_service" type="text">
                        <label for="id_service">Service(SC)</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="id_nomRD" type="text" class="text">
                        <label for="id_nomRD">Nom(RD)</label>
                    </div>                    
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="id_moisannee" type="text" class="datepicker">
                        <label for="id_moisannee">Mois/année (période)</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="id_daterapport" type="text" class="datepicker">
                        <label for="id_daterapport">Date du rapport</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <label for="id_taches_intervenant">Tâches inachevées:</label>
                        <input id="id_taches_intervenant" type="text">
                        <input id="id_taches_intervenant" type="text">
                        <input id="id_taches_intervenant" type="text">
                    </div>
                    <div class="input-field col s6">
                        <label for="id_taches_intervenant">Tache achevées et intervenants:</label>
                        <input id="id_taches_intervenant" type="text">
                        <input id="id_taches_intervenant" type="text">
                        <input id="id_taches_intervenant" type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="id_delai_execution" class="datepicker" type="text">
                        <label for="id_delai_execution">Délai d'éxecution</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="id_datefin_probable" class="datepicker" type="text" class="text">
                        <label for="id_datefin_probable">Date probable de fin</label>
                    </div>
                </div>

                <blockquote>
                    <label for="id_taches_intervenant">Au cas où le projet est achevé, préciser:</label>
                </blockquote>
                        
                <div class="row">
                    <div class="input-field col s6">
                        <input id="id_date_cloture_dossier" class="datepicker" type="text">
                        <label for="id_date_cloture_dossier">Date de cloture du dossier</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="id_duree_affective" type="text">
                        <label for="id_duree_affective">Durée effective d'execution</label>
                    </div>
                </div>

                <blockquote>
                    <label>Situation des contrats des personnes-ressources :</label>
                </blockquote>
                <div class="row">
                    <div class="input-field col s3">
                        <input id="id_montant_paye" type="text">
                        <label for="id_montant_payé">Montant payé</label>
                    </div>
                
                    <div class="input-field col s3">
                        <input id="id_montant_restant" type="text">
                        <label for="id_montant_restant">Montant restant dû</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="id_situation_recouvrement" type="text">
                        <label for="id_situation_recouvrement">Situation recouvrement auprès du client</label>
                    </div>
                </div>

            </form>
        </div>
        <!--END formulaire cv-->
    </div>
</div>
<!--end container-->