<div class="section">
    <p>List du personnel a notifié</p>
    <ul>
        <li *ngFor="let perso of listUser">{{perso.nom}}</li> 
    </ul>
</div>

<app-form [childs]="formInput" [waiting]="waitingForm" (submitEvent)="submitForm($event)"></app-form>