<div id="login-page" class="row login-bg">
  <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="row">
        <div class="input-field col s6">
          <h5 class="ml-4" style="margin-top: 25px;">Connexion</h5>          
        </div>
        <div class="col s6 right"><img src="./assets/images/logo/agropme-logo.png" style="height:100px" /></div>
      </div>
      <div class="row" *ngIf="submittedForm">
        <div class="col s12 red-text" *ngIf="!successfulAuthentification">
            {{errorFormMessage}}
        </div>
        <div class="col s12 green-text" *ngIf="successfulAuthentification">
            Connexion réussie
        </div>
      </div>
      <div class="row ">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">person_outline</i>
          <input id="username" type="text" [formControlName]="'email'">
          <label for="username" class="center-align">Email</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">lock_outline</i>
          <input id="password" type="password" [formControlName]="'password'">
          <label for="password">Mot de passe</label>
        </div>
      </div>
      <!--<div class="row">
        <div class="col s12 m12 l12 ml-2 mt-1">
          <p>
            <label>
              <input type="checkbox">
              <span>Remember Me</span>
            </label>
          </p>
        </div>
      </div>-->
        <div class="row" *ngIf="!waitingForm">
            <div class="input-field col s12">
                <button type="submit" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">Login</button>
            </div>
        </div>
        <div class="row" *ngIf="waitingForm">
            <div class="progress" >
                <div class="indeterminate"></div>
            </div>
            <div class="center">
                Veuillez patientez...
            </div>
        </div>
      <!--<div class="row">
        <div class="input-field col s6 m6 l6">
          <p class="margin medium-small"><a href="user-register.html">Register Now!</a></p>
        </div>
        <div class="input-field col s6 m6 l6">
          <p class="margin right-align medium-small"><a href="user-forgot-password.html">Forgot password ?</a></p>
        </div>
      </div>-->
    </form>
  </div>
</div>