<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>

<div class="container">

    <app-flash-message [duration]="durationFlashMessage" 
        [show]="showFlashMessage" [type]="typeFlashMessage" 
        [content]="messageFlashMessage" (eventChange)="changeFlashMessageStatut($event)">
    </app-flash-message>
    <div class="right" *ngIf="currentProcess!=null">
        <a data-target="modal_detail" class="material-icons hoverable stetting modal-trigger" (click)=(showModalDetails())>settings</a>
    </div>

    <!--Modal Détail-->
      <div id="modal_detail" class="modal" *ngIf="currentProcess!=null">
            <div class="modal-box-header">
                <h3 style="margin:5px">Détail du processus</h3>
                <div class="divider"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s4"><a href="#infosgeneral">Informations Général</a></li>
                            <li class="tab col s4"><a href="#client">Client</a></li>
                            <li class="tab col s4 "><a href="#curreActivite">Activité courante</a></li>
                        </ul>
                        </div>
                        <div id="infosgeneral" class="item-tabs-content col s12">
                            <p >Informations sur le processus</p>
                            <div class="row input-field">
                                <div class="col s4">Libellé du processus: </div>
                                <div class="col s8">{{currentProcess.title}}</div>
                            </div>
                            <div class="row input-field">
                                <div class="col s4">Date de lancement du processus: </div>
                                <div class="col s8">{{currentProcess.dateDebut}}</div>
                            </div>
                            <div class="row input-field">
                                <div class="col s4">Date de fin du processus: </div>
                                <div class="col s8">{{currentProcess.dateFin}}</div>
                            </div>
                            <div class="row input-field">
                                <div class="col s4">Description du processus: </div>
                                <div class="col s8">{{currentProcess.description}}</div>
                            </div>
                            <div class="row input-field">
                                <div class="col s4">Type de processus: </div>
                                <div class="col s8">{{currentProcess.type.text}}</div>
                            </div>
                        </div>

                        <div id="client" class="col s12 item-tabs-content">
                            <p>Informations sur le client</p>
                            <div class="row input-field">
                                <div class="col s4">Nom : </div>
                                <div class="col s8">{{currentProcess.client.nomPrenom}}</div>
                            </div>
                            <div class="row input-field">
                                <div class="col s4">Mail: </div>
                                <div class="col s8">{{currentProcess.client.mail}}</div>
                            </div>
                            <div class="row input-field">
                                <div class="col s4">Tel: </div>
                                <div class="col s8">{{currentProcess.client.tel}}</div>
                            </div>
                            <div class="row input-field">
                                <div class="col s4">Localisation: </div>
                                <div class="col s8">{{currentProcess.client.localisation}}</div>
                            </div>
                        </div>
                        <div id="curreActivite" class="col s12 item-tabs-content">
                            <p >Informations sur l'activité courante</p>
                            <div class="row input-field">
                                <div class="col s4">Libellé de l'activité: </div>
                                <div class="col s8">{{currentProcess.getCurrentActivity().title}}</div>
                            </div>
                            <div class="row input-field">
                                <div class="col s4">Description de l'activité: </div>
                                <div class="col s8">{{currentProcess.getCurrentActivity().description}}</div>
                            </div>
                            <div class="row input-field">
                                <div class="col s4">Executeur du processus: </div>
                                <div class="col s8">{{currentProcess.getCurrentActivity().executeur}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="divider"></div>
                <button  class="waves-effect waves-green btn-flat modal-close">OK</button>
            </div>
        </div>
    <!-- END modal détial-->



    <div class="section" *ngIf="findProcessus">
        <p class="caption" *ngIf="currentProcess!=null && !currentProcess.isEnd()" >Activite: {{currentProcess.getCurrentActivity().title}}</p>
        <p class="caption" *ngIf="currentProcess!=null && currentProcess.isEnd()" >Fin de processus</p>
        
        <div class="divider"></div>

        <div class="row" style="margin-top:5%" *ngIf="loading">
            <div class="progress">
            <div class="indeterminate"></div>
            </div>
            <div class="center">
            Chargement des données...
            </div>
        </div>

        <div class="row" >
            <div class="col s12"> 
                <ng-template #dashboard_host></ng-template>
            </div>
        </div>
    </div>

    <div class="section " *ngIf="!findProcessus">
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="row card-panel gradient-45deg-red-pink gradient-shadow">
                    <div class="col s4">
                        <i class="material-icons large white-text">warning</i>
                    </div>
                    <div class="col s8">
                        <span class="white-text">Le projet dont l'identifiant a été fournis est innexistant! 
                        Veuillez vous rassurer de son existance. Dans le cas d'une erreur, raproché vous de l'administrateur 
                        pour la résolution de cette erreur</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section " *ngIf="!isExecuteur && findProcessus">
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="row card-panel gradient-45deg-light-blue-cyan gradient-shadow">
                    <div class="col s4">
                        <i class="material-icons large white-text">info</i>
                    </div>
                    <div class="col s8">
                        <span class="white-text">Vous n'êtes pas l'executeur de cette actvité!! pour plus d'informations contactez votre gestionnaire de projet</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section " *ngIf="isEndProcess">
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="row card-panel gradient-45deg-light-blue-cyan gradient-shadow">
                    <div class="col s4">
                        <i class="material-icons large white-text">info</i>
                    </div>
                    <div class="col s8">
                        <span class="white-text">Cette tâche est terminée!! Vous pouvez <a href="#" class="white-text underline">consulter son recapitulatif</a> ou <a routerLink="/dashboard/projet/new" class="white-text underline">démarer un nouveau procéssus</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
              