.stetting
{
    cursor: pointer;
}

.settings:hover
{
    color:"blue"
}
.item-tabs-content
{
    font-size: 15px;
}

.item-tabs-content p
{
    margin-top:5px; 
    font-size:17px;
    text-decoration:underline;
}