<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<div class="container">
    <div class="section" *ngIf="findPersonnel">
        <p class="caption">Remplissez vos informations</p>
        <div class="divider"></div>
        <!--Start formulaire cv-->
        <div class="row">
        <app-flash-message [duration]="durationFlashMessage" 
            [show]="showFlashMessage" [type]="typeFlashMessage" 
            [content]="messageFlashMessage" (eventChange)="changeFlashMessageStatut($event)">
        </app-flash-message>
        
        
            <form  class="col s12" (ngSubmit)="submit()" [formGroup]="form">  
                <ul class="stepper">

                    <!--Informations personnelles-->
                    <li class="step active">
                        <div class="step-title waves-effect">Informations personnelles</div>
                        <div class="step-content">
                            <!-- Your step content goes here (like inputs or so) -->
                            <div class="step-body">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input [formControlName]="'fname'" id="fname" type="text">
                                        <label class="active" for="fname">Nom de famille</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input [formControlName]="'lname'" id="lname" type="text">
                                        <label class="active" for="lname">Prénom</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input [formControlName]="'dateNaiss'" id="birthday" type="text" class="datepicker">
                                        <label class="active" for="birthday">Date de naissance</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="nationalite" [formControlName]="'nationnalite'" type="text">
                                        <label class="active" for="nationalite">Nationnalité</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <select [formControlName]="'etat_civil'" >
                                            <option disabled selected>Etat civil</option>
                                            <option *ngFor="let state of etat_civil" [ngValue]="state.name">
                                                {{ state.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>                                                    
                            </div>
                        </div>
                    </li>
                    <!-- END informations personnelles-->

                    <!--Formation-->
                    <li class="step">
                        <div class="step-title waves-effect">Formation</div>
                        <div class="step-content">
                            <blockquote class="underline">
                                Formation académique
                            </blockquote>
                            <div class="row table_formation dynamic-table">
                                <div class="col s11 m11 l11">
                                    <table class="Highlight bordered  card">
                                        <thead>
                                            <tr>
                                                <th>Etablissement</th>
                                                <th>Titre(s) ou diplôme(s) otbenu(s)</th>
                                                <th>Année</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>                     
                                    </table>
                                </div>
                                <div class="col s1 m1 l1">
                                    <div class="dynamic-table-options card">
                                        <i class="material-icons waves-green waves-effect waves-light add_cell">add_circle_outline</i>
                                        <i class="material-icons waves-effect waves-green waves-light remove_cell">close</i>
                                    </div>
                                </div> 
                            </div>

                            <blockquote class="underline">Formations complémentaires</blockquote>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="infoscomplementaires" [formControlName]="'formation_complementaire'" type="text">
                                    <label class="active" for="infoscomplementaires">Autres</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END Formation-->

                    <!--Langue-->
                    <li class="step">
                        <div class="step-title waves-effect">Communication</div>
                        <div class="step-content">
                            <div class="row table_langue dynamic-table">
                                <div class="col s11 m11 l11">
                                    <table class="Highlight bordered  card">
                                        <thead>
                                            <tr>
                                                <th>Langue</th>
                                                <th>Lecture</th>
                                                <th>Oral</th>
                                                <th>Ecris</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>                     
                                    </table>
                                </div>
                                <div class="col s1 m1 l1">
                                    <div class="dynamic-table-options card">
                                        <i class="material-icons waves-green waves-effect waves-light add_cell">add_circle_outline</i>
                                        <i class="material-icons waves-effect waves-green waves-light remove_cell">close</i>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </li>
                    <!-- END Langue-->

                    <!--Vie professionnel-->
                    <li class="step">
                        <div class="step-title waves-effect">Vie professionnel</div>
                        <div class="step-content">
                            <div class="row">
                                <blockquote class="underline">
                                    Appartenance a un ogranisme professionnel 
                                </blockquote>
                                <div class="col s11 m11 l8">
                                    <input type="text" [formControlName]="'appartOrgaPro'" id="organismeproffessionnel" >
                                    <label class="active" for="organismeproffessionnel">Organisme professionnel</label>
                                </div>
                            </div>

                            <div class="row">
                                <blockquote class="underline">
                                    Autres compétences
                                </blockquote>
                                <div class="col s11 m11 l8">
                                    <textarea id="listdescompetences" [formControlName]="'autreCompet'" class="materialize-textarea"></textarea>
                                    <label class="active" for="listdescompetences">Listes des compétences</label>
                                </div>
                            </div>

                            <div class="row">                        
                                <div class="col s11 m11 l11">
                                    <blockquote class="underline">
                                        Fonction actuelle
                                    </blockquote>
                                    <div class="row table_fonction_actuelle dynamic-table">
                                        <div class="col s11 m11 l11">
                                            <table class="Highlight bordered  card">
                                                <thead>
                                                    <tr>
                                                        <th>Organisme</th>
                                                        <th>Siége</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>                     
                                            </table>
                                        </div>
                                        <div class="col s1 m1 l1">
                                            <div class="dynamic-table-options card">
                                                <i class="material-icons waves-green waves-effect waves-light add_cell">add_circle_outline</i>
                                                <i class="material-icons waves-effect waves-green waves-light remove_cell">close</i>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END vie professionnel-->
                    
                    <!--Autres informations utiles-->
                    <li class="step">
                        <div class="step-title waves-effect">Autres informations utiles</div>
                        <div class="step-content">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="autresinformations" [formControlName]="'autres_infos'" type="text">
                                    <label class="active" for="autresinformations">Autres informations</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END publication&recherche-->

                    <!--publication&recherche-->
                    <li class="step">
                        <div class="step-title waves-effect">Publication et recherche</div>
                        <div class="step-content">
                            <div class="row table_publication_recherche dynamic-table">
                                <div class="col s11 m11 l11">
                                    <table class="Highlight bordered  card">
                                        <thead>
                                            <tr>
                                                <th>Année</th>
                                                <th>Titre</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>                     
                                    </table>
                                </div>
                                <div class="col s1 m1 l1">
                                    <div class="dynamic-table-options card">
                                        <i class="material-icons waves-green waves-effect waves-light add_cell">add_circle_outline</i>
                                        <i class="material-icons waves-effect waves-green waves-light remove_cell">close</i>
                                    </div>
                                </div> 
                            </div>                            
                        </div>
                    </li>
                    <!-- END publication&recherche-->
                </ul>
                <div class="row" *ngIf="waitingForm">
                        <div class="progress" >
                            <div class="indeterminate"></div>
                        </div>
                        <div class="center">
                            Veuillez patientez...
                        </div>
                    </div>

        <!-- Modal Structure PDF CV -->
        <div id="modal_cv_pdf" class="modal">
            <div class="modal-box-header">
                <h3 style="margin:5px">PDF</h3>
                <div class="divider"></div>
            </div>
            <div class="modal-body">
                <div class="row" *ngIf="waitingModalPDF">
                    <div class="progress" >
                        <div class="indeterminate"></div>
                    </div>
                    <div class="center">
                        Veuillez patientez pendant la génération du PDF...
                    </div>
                </div>
                <div *ngIf="!waitingModalPDF">
                    <div class="container">
                        <p class="center lighten blue-text header-text">Curriculumm vitaé</p>
                    </div>
                    <div class="container">
                        <div class="row">
                            <span class="col s2">Prénom: </span>
                            <span class="col s6">{{form.value.fname}}</span>
                        </div>        
                        <div class="row">
                            <span class="col s2">Nom: </span>
                            <span class="col s6">{{this.form.value.lname}}</span>
                        </div>
                        <div class="row">
                            <span class="col s2">Date de naissance: </span>
                            <span class="col s6">{{form.value.dateNaiss}}</span>
                        </div>
                        <div class="row">
                            <span class="col s2">Nationnalité: </span>
                            <span class="col s6">{{form.value.nationalite}}</span>
                        </div>
                        <div class="row">
                            <span class="col s2">Statut social: </span>
                            <span class="col s6">{{form.value.etat_civil}}</span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="cv-divider"></div>      
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col s4 header-text underline"> Formation </div>
                            <div class="col s8">
                                <div class="row">
                                    <div class="col s4">Académique</div>
                                    <div class="col s4">
                                        <ul>
                                            <li  *ngFor="let formAcad of formationtableInstance.getValue()">
                                                <span class="bold">{{formAcad[2]}}</span>
                                                <span class="">{{formAcad[1]}}</span>
                                                <span class=""> ( {{formAcad[0]}} ) </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s4">Formation complémentaire</div>
                                    <div class="col s4">{{form.value.formation_complementaire}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="cv-divider"></div>      
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col s4 header-text underline"> Communication</div>
                            <div class="col s8">
                                <ul>
                                    <li  *ngFor="let com of languetableInstance.getValue()">
                                        <span class="bold">{{com[0]}}: </span>
                                        <span style="margin-left:5px">Lecture ({{com[1]}})</span>
                                        <span style="margin-left:5px">Oral ( {{com[2]}} ) </span>
                                        <span style="margin-left:5px">Ecris ( {{com[3]}} ) </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="cv-divider"></div>      
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col s4 header-text underline"> Vie professionnel</div>
                            <div class="col s8">

                                 <div class="row">
                                    <div class="col s6">Appartenance a un organisme professionnel</div>
                                    <div class="col s2">
                                        {{form.value.appartOrgaPro}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s4">Autres compétences</div>
                                    <div class="col s4">{{form.value.autreCompet}}</div>
                                </div>
                                <div class="row">
                                    <div class="col s4">Fonction actuelle</div>
                                    <div class="col s4">
                                        <ul>
                                            <li  *ngFor="let fonc of fonctionActuelletableInstance.getValue()">
                                                <span class="bold">Organisme{{fonc[0]}}: </span>
                                                <span style="margin-left:5px">Date ({{fonc[2]}})</span>
                                                <span style="margin-left:5px">Siége ( {{fonc[1]}} ) </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="cv-divider"></div>      
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col s4 header-text underline"> Autres informations utiles</div>
                            <div class="col s8">
                                {{form.value.autres_infos}}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="cv-divider"></div>      
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col s4 header-text underline"> Publication et recherche</div>
                            <div class="col s8">
                                <ul>
                                    <li  style="display:flex: flex-direction:rows" *ngFor="let pubRech of pubRecherchetableInstance.getValue()">
                                        <span class="bold">Année:{{pubRech[0]}}: </span>
                                        <span >Titre :{{pubRech[1]}}</span>
                                        <span >Description : {{pubRech[2]}}  </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="divider"></div>
                <a class="modal-close waves-effect waves-green btn-flat">Annuler</a>
                <a (click)="genereatedPDF()" class="waves-effect waves-green btn-flat">Valider</a>
            </div>
        </div>

                <div class="row" *ngIf="!waitingForm">
                    <div class="col s6">
                        <a class="btn lighten blue right modal-trigger" data-target="modal_cv_pdf">
                            <i class="material-icons">file_download</i> Générer & Télécharger PDF
                        </a>
                    </div>
                    <div class="col s3">
                        <button class="btn red right" type="reset">
                            <i class="material-icons">refresh</i> Annuler
                        </button>
                    </div>
                    <div class="col s3">
                        <button class="btn green right" type="submit">
                            <i class="material-icons">check</i> Valider
                        </button>
                    </div>
                </div>
            </form>            
        </div>
    </div>
    <!--END formulaire cv-->
    <div class="section " *ngIf="!findPersonnel">
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="row card-panel gradient-45deg-red-pink gradient-shadow">
                    <div class="col s4">
                    <i class="material-icons large white-text">warning</i>
                    </div>
                    <div class="col s8">
                    <span class="white-text">Le personnel dont l'identifiant a été fournis est innexistant! 
                        Veuillez vous rassurer de son existance. Dans le cas d'une erreur, raproché vous de l'administrateur 
                        pour la résolution de cette erreur</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>