#modal_cv_pdf
{
    width:85%;
}
.modal-body
{
    margin:10px;
}
.modal .container
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal .container .header-text
{
    font-weight:bold; 
    margin-top:15px;
    font-size:20px
}

.cv-divider
{
    width: 100%;
    height: 3px;
    background-color: rgb(74,126,187);
}
.bold
{
    font-weight: bold;
}