<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<!--start container-->
<div class="container">
    <div class="section">
        <p class="caption">Remplissez vos informations</p>
        <div class="divider"></div>
        <!--Start formulaire cv-->
        <div class="row">
            <form class="col s12">  
                <div class="row">
                    <div class="input-field col s6">
                        <input id="lname" type="text">
                        <label for="lname">Nom</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="lname" type="text">
                        <label for="lname">Prénom</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="tel" type="tel">
                        <label for="tel">Tel</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="datenaiss" type="text" class="datepicker">
                        <label for="datenaiss">Date de naissance</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Pays de résidence</option>
                            <option value="cameroun">Cameroun</option>
                            <option value="gabon">Gabon</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Nationnalité</option>
                            <option value="camerounais(e)">Camerounais(e)</option>
                            <option value="cabonais(e)">Gabon(e)</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="adress_pb" type="text">
                        <label for="adress_pb">Adresse: BP:</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="ville" type="text">
                        <label for="ville">Ville</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" type="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="contact" type="text">
                        <label for="contact">Contact</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="fonction_actuelle" type="text">
                        <label for="fonction_actuelle">Fonction actuelle</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s3">
                        Organisme employeur: 
                    </div>
                    <div class="input-field col s3">
                        <input id="organisme_nom" type="text">
                        <label for="organisme_nom">Nom</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="organisme_bp" type="text">
                        <label for="organisme_bp">BP</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="organisme_ville" type="text">
                        <label for="organisme_ville">Ville</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s3">
                    </div>
                    <div class="input-field col s3">
                        <select>
                            <option value="" disabled selected>Pays</option>
                            <option value="cameroun">Cameroun</option>
                            <option value="gabon">Gabon</option>
                        </select>
                    </div>
                    <div class="input-field col s3">
                        <input id="organisme_tel" type="tel">
                        <label for="organisme_tel">Tel</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="organisme_fax" type="text">
                        <label for="organisme_fax">Fax</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="formation_base" type="text">
                        <label for="formation_base">Formation de base</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="formation_complementaire" type="text">
                        <label for="formation_complementaire">Formation complémentaire</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s9">
                        <input id="reseau_professionnel" type="text">
                        <label for="reseau_professionnel">Réseau proféssionnel</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="mode_disponiblite" type="text">
                        <label for="mode_disponiblite">Mode de disponibilité</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="domaine_expertise" type="text">
                        <label for="domaine_expertise">Domaine d'expertise</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s3">
                        Année d'éxpérience: 
                    </div>
                    <div class="input-field col s3">
                        <input id="annee_experience_formateur" type="number">
                        <label for="annee_experience_formateur">Formateur</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="annee_experience_praticien" type="number">
                        <label for="annee_experience_praticien">Praticien</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="annee_experience_consultant" type="number">
                        <label for="annee_experience_consultant">Consultant</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4">
                        <select>
                        <option value="" disabled selected>Langue de travail</option>
                        <option value="anglais">Anglais</option>
                        <option value="francais">Français</option>
                        </select>
                    </div>
                    <div class="input-field col s8">
                        <input id="ref_dossier" type="text">
                        <label for="ref_dossier">Ref. du dossier</label>
                    </div>
                    </div>

                    <div class="row">
                    <div class="input-field col s12">
                        <input id="date_mise_a_jour" type="text" class="datepicker">
                        <label for="date_mise_a_jour">Date dernière mise à jour  mise a jour</label>
                    </div>
                </div>
            </form>
        </div>
        <!--END formulaire cv-->
    </div>
</div>
<!--end container-->