<!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav" class="">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">
            <li class="user-details cyan darken-2">
              <div class="row">
                <div class="col col s4 m4 l4">
                  <img src="./assets/images/logo/logo_ingenierie.png" alt="" class="circle responsive-img valign profile-image cyan">
                </div>
                <div class="col col s8 m8 l8">
                  <ul id="profile-dropdown-nav" class="dropdown-content">
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">face</i> Profile</a>
                    </li>
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">settings</i> Parametres</a>
                    </li>
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">live_help</i> Aide</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">keyboard_tab</i> Deconnexion</a>
                    </li>
                  </ul>
                  <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav">Cédric Nguendap<i class="mdi-navigation-arrow-drop-down right"></i></a>
                  <p class="user-roal">AGRO-PME Fondation</p>
                </div>
              </div>
            </li>
            <li class="bold no-padding">
              <ul class="collapsible" data-collapsible="accordion">
                <li class="bold">
                  <a [routerLink]="'/dashboard'" class="waves-effect waves-cyan">
                      <i class="material-icons">pie_chart_outlined</i>
                      <span class="nav-text">Dashboard</span>
                  </a>
                </li>
                <li class="bold">
                  <a [routerLink]="'chats'" class="waves-effect waves-cyan">
                      <i class="material-icons">chat</i>
                      <span class="nav-text">Discussions</span>
                  </a>
                </li>
                <li class="bold">
                  <a [routerLink]="'personnels'" class="waves-effect waves-cyan">
                      <i class="material-icons">supervisor_account</i>
                      <span class="nav-text">Personnels</span>
                  </a>
                </li>
                <li class="bold" data-collapsible="accordion">
                  <a class="collapsible-header waves-effect waves-cyan">
                      <i class="material-icons">edit</i>
                      <span class="nav-text">Formulaire</span>
                  </a>
                  <div class="collapsible-body">

                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                      <li class=""><a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0"><i class="material-icons">border_color</i><span data-i18n="Vertical">CV</span></a>
                        <div class="collapsible-body" style="">
                          <ul class="collapsible" data-collapsible="accordion">
                            <li><a [routerLink]="'form/cv/ue_modele'" ><i class="material-icons">radio_button_unchecked</i><span data-i18n="Modéle UE">Modéle UE</span></a>
                            </li>
                            <li><a [routerLink]="'form/cv/admin_modele'" ><i class="material-icons">radio_button_unchecked</i><span data-i18n="Navbar Dark">Modéle administratif</span></a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a [routerLink]="'form/fiche/evaluation_candidature'"  class="collapsible waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0">
                          <i class="material-icons">border_color</i>
                          <span data-i18n="Grille d'évaluation">Fiche d'évaluation</span>
                        </a>                       
                      </li>
                      <li>
                        <a [routerLink]="'form/fiche/identification_ressource'"  class="collapsible waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0">
                          <i class="material-icons">border_color</i>
                          <span data-i18n="Grille d'évaluation">Identification ressource</span>
                        </a>                       
                      </li>
                       <li>
                        <a [routerLink]="'form/fiche/Information_générale_dossier'"  class="collapsible waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0">
                          <i class="material-icons">border_color</i>
                          <span data-i18n="Grille d'évaluation">Information générale <br> dossier</span>
                        </a>                       
                      </li>
                      <li>
                        <a [routerLink]="'form/fiche/travaux_suivi_quotidien'"  class="collapsible waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0">
                          <i class="material-icons">border_color</i>
                          <span data-i18n="Grille d'évaluation">Travaux suivi quotidien</span>
                        </a>                       
                      </li>
                      <li>
                        <a [routerLink]="'form/fiche/rapport_periodique_execution_travaux'"  class="collapsible waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0">
                          <i class="material-icons">border_color</i>
                          <span data-i18n="Grille d'évaluation">Rapport execution travaux</span>
                        </a>                       
                      </li>
                      <li>
                        <a [routerLink]="'form/fiche/travaux_rapport_periodique'"  class="collapsible waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0">
                          <i class="material-icons">border_color</i>
                          <span data-i18n="Grille d'évaluation">Rapport travaux périodique</span>
                        </a>                        
                      </li>
                      <li>
                        <a [routerLink]="'form/fiche/rapport_mensuel_ventes'"  class="collapsible waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0">
                          <i class="material-icons">border_color</i>
                          <span data-i18n="Grille d'évaluation">Rapport mensuel ventes</span>
                        </a>                        
                      </li>
                    </ul>
          
                  </div>
                <li>

                <li class="bold" data-collapsible="accordion">
                  <a class="collapsible-header waves-effect waves-cyan">
                      <i class="material-icons">email</i>
                      <span class="nav-text">Couriers</span>
                  </a>
                  <div class="collapsible-body">
                    <li><a [routerLink]="'couriers/tous'" ><i class="material-icons">radio_button_unchecked</i><span data-i18n="Modéle UE">Tous les couriers</span></a>
                    </li>
                    <li><a [routerLink]="'couriers/entrant'" routerLinkActive="active"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Navbar Dark">Couriers entrant</span></a>
                    </li>
                    <li><a [routerLink]="'couriers/sortant'" routerLinkActive="active"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Navbar Dark">Couriers sortant</span></a>
                    </li>                 
          
                  </div>
                <li>
                
                <!--
                <li class="bold" data-collapsible="accordion">
                  <a class="collapsible-header waves-effect waves-cyan">
                      <i class="material-icons">email</i>
                      <span class="nav-text">Boite mail</span>
                  </a>
                  <div class="collapsible-body">

                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                      <li class="">
                        <a class="collapsible  waves-effect waves-cyan" [routerLink]="'mailbox/compose'" >
                          <i class="material-icons">view_comfy</i>
                          <span data-i18n="Vertical">Nouveau message</span>
                        </a>
                      </li>
                      <li class="">
                        <a class="collapsible  waves-effect waves-cyan" [routerLink]="'mailbox/inbox'" >
                          <i class="material-icons">view_comfy</i>
                          <span data-i18n="Vertical">Boite de reception</span>
                        </a>
                      </li>
                    </ul>
          
                  </div>
                <li>
                -->
                 <li >
                    <a class="collapsible  waves-effect waves-cyan" [routerLink]="'test/ui/timeline'">
                      <i class="material-icons">view_comfy</i>
                      <span data-i18n="Vertical">Projets</span>
                    </a>
                  </li>
                  <li class="bold" data-collapsible="accordion">
                    <a class="collapsible-header waves-effect waves-cyan">
                        <i class="material-icons">view_comfy</i>
                        <span class="nav-text">Projets</span>
                    </a>
                    <div class="collapsible-body">
                      <ul class="collapsible" data-collapsible="accordion">
                          <li>
                            <a [routerLink]="'projet/new'"><i class="material-icons">radio_button_unchecked</i><span >Nouveau projet</span></a>
                          </li>
                          <li>
                            <a [routerLink]="'projet/liste'"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Navbar Dark">Liste des projets</span></a>
                          </li>
                          <li>
                            <a [routerLink]="'form/cv/admin_modele'"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Navbar Dark">Mes tâches</span></a>
                          </li>
                        </ul>
                    </div>
                  </li>

<!--
                <li class="" >
                  <a class="collapsible-header waves-effect waves-cyan">
                      <i class="material-icons">view_quilt</i>
                      <span class="nav-text">Test ui</span>
                  </a>
                  <div class="collapsible-body">

                    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                      <li class="">
                        <a class="collapsible  waves-effect waves-cyan" [routerLink]="'test/ui/timeline'" >
                          <i class="material-icons">view_comfy</i>
                          <span data-i18n="Vertical">TimeLine</span>
                        </a>
                      </li>
                      <li class="">
                        <a class="collapsible  waves-effect waves-cyan" [routerLink]="'test/ui/waibmail'" >
                          <i class="material-icons">view_comfy</i>
                          <span data-i18n="Vertical">Web Mail</span>
                        </a>
                      </li>
                    </ul>
          
                  </div>
                <li>-->
              </ul>
            </li>
          </ul>
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->