.chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
  }
  .chat-header img {
    float: left;
    width: 50px;
  }
  .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
  }
  .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
  }
  .chat-header .chat-num-messages {
    color: #92959e;
  }
  .chat-header .fa-star {
    float: right;
    color: #d8dadf;
    font-size: 20px;
    margin-top: 12px;
  }

.about {
    float: left;
    margin-top: 8px;
  }
 .about {
    padding-left: 8px;
  }