<div class="chat-header clearfix">
    <img src="./assets/images/logo/logo_ingenierie.png" alt="avatar" />
    
    <div class="chat-about">
        <div class="chat-with">AGRO-PME Ingénieurie</div>
        <div class="chat-num-messages">10 Nouveaux messages</div>
    </div>
    <i class="fa fa-star"></i>
</div> <!-- end chat-header -->