<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<div class="container">
    <div class="section">
        <div class="caption">
            <div class="row">
                <div class="col s6 offset-m3">
                    <div class="header-search-wrapper">
                        <i class="material-icons">search</i>
                        <input type="text" (keyup)="submit($event)" [formControl]="input" name="Search" class="header-search-input z-depth-2" placeholder="Rechercher personnel" />
                    </div>
                </div>
                <div class="col s2">
                    <a class="btn btn-default btn-sm  modal-trigger" href="#modal" title="Ajouter personnel"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <app-flash-message [duration]="durationFlashMessage" 
            [show]="showFlashMessage" [type]="typeFlashMessage" 
            [content]="messageFlashMessage" (eventChange)="changeFlashMessageStatut($event)">
        </app-flash-message>

        <!-- Modal Structure -->
        <div id="modal" class="modal">
            <div class="modal-box-header">
                <h3 style="margin:5px">Remplissez les informations du nouveau personnel</h3>
                <div class="divider"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="formModal" *ngIf="!waitingModalForm">
                        <div class="row">
                            <div class="input-field col s12">
                                <input [formControlName]="'fname'" id="fname" type="text">
                                <label for="fname">Nom de famille</label>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input [formControlName]="'lname'" id="lname" type="text">
                                <label for="lname">Prénom</label>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col s12 center red-text" *ngIf="!formModal.valid">{{errorModalFormMessage}}</div>
                        </div>
                    </form>

                    <div class="row" *ngIf="waitingModalForm">
                        <div class="progress" >
                            <div class="indeterminate"></div>
                        </div>
                        <div class="center">
                            Veuillez patientez...
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="modal-footer">
            <div class="divider"></div>
                <button (click)="closeModal()" class="waves-effect waves-green btn-flat">Annuler</button>
                <button (click)="submitModalForm()" class="waves-effect waves-green btn-flat">Valider</button>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <table class="striped Highlight centered">
                    <thead>
                        <tr>
                            <th>Nom & prenom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cv of currCVPersonnel">
                            <td>{{cv.firstName}} {{cv.lastName}}</td>
                            <td><a [routerLink]="['/dashboard/form/cv',cv.idPersonnel]" class="link-personnel-action" >Editer CV</a> 
                            <a class="link-personnel-action" [routerLink]="['/dashboard/form/fiche/evaluation_candidature',cv.idPersonnel]" >Evaluer</a></td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
