<div class="chat-history">
        <ul>
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:10</span> &nbsp; &nbsp;
              <span class="message-data-name" >Cédric Nguendap</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              Rencontre avec AGRO-PME
            </div>
          </li>
          
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> AGRO-PME Ingénieurie</span>
              <span class="message-data-time">10:12</span>
            </div>
            <div class="message my-message">
              D'accord, vous êtes attendus
            </div>
          </li>
          
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >11:00</span> &nbsp; &nbsp;
              <span class="message-data-name" >Cédric Nguendap</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              Début de la rencontre
            </div>
          </li>
          
        </ul>
        
      </div> <!-- end chat-history -->