.chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
    background-color: white;
  }
  .chat-history .message-data {
    margin-bottom: 15px;
  }
  .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
  }
  .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
  }
  .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86bb71;
    border-width: 10px;
    margin-left: -10px;
  }
  .chat-history .my-message {
    background: #86bb71;
  }
  .chat-history .other-message {
    background: #94c2ed;
  }
  .chat-history .other-message:after {
    border-bottom-color: #94c2ed;
    left: 93%;
  }