 <!-- timeline item -->
<li>
    <i [class]="'material-icons '+m_icon_color+' '+m_bg_icon_color">{{m_icon}}</i>
    <div class="timeline-item">
        <span class="time"><i class="material-icons">query_builder</i> {{date}}</span>
        <ng-content></ng-content>    
    </div>
</li>
<!-- END timeline item -->