<section id="content">
    <div class="container">
        <!--work collections start-->
            <div id="work-collections">
              <div class="row">
                <div class="col s12 m12 l6">
                  <ul id="projects-collection" class="collection z-depth-1">
                    <li class="collection-item avatar">
                      <i class="material-icons cyan circle">card_travel</i>
                      <h6 class="collection-header m-0">Projets</h6>
                      <p>Vos Projets récents</p>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s9">
                          <p class="collections-title">Digitalisation AGRO-PME</p>
                          <p class="collections-content">AGRO-PME</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat cyan">Digitalisation</span>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s9">
                          <p class="collections-title">Modélisation des procéssus sur BPMN Studio </p>
                          <p class="collections-content">Modélisation sur BPMN</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat red accent-2">Modélisation</span>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s9">
                          <p class="collections-title">Intranet</p>
                          <p class="collections-content">Intranet pour l'application des procéssus</p>
                        </div>
                        <div class="col s3">
                          <span class="task-cat teal accent-4">Implémentation</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col s12 m12 l6">
                  <ul id="issues-collection" class="collection z-depth-1">
                    <li class="collection-item avatar">
                      <i class="material-icons red accent-2 circle">access_time</i>
                      <h6 class="collection-header m-0"></h6>
                      <p>Vos taches</p>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">
                            <strong>#102</strong> Validation des procéssus</p>
                          <p class="collections-content">Validation</p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat deep-orange accent-2">P1</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">
                            <strong>#108</strong> Validation des formulaire</p>
                          <p class="collections-content">validation </p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat cyan">P2</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 40%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div class="row">
                        <div class="col s7">
                          <p class="collections-title">
                            <strong>#205</strong> Formation sur Google Agenda</p>
                          <p class="collections-content">Agenda </p>
                        </div>
                        <div class="col s2">
                          <span class="task-cat red accent-2">P3</span>
                        </div>
                        <div class="col s3">
                          <div class="progress">
                            <div class="determinate" style="width: 95%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--work collections end-->
    </div>
</section>