.modal-box-header
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 10px;
    height: 40px;
    font-size: 15px;
    padding-right: 10px;
    align-items: center;
}

.modal-box-header-btn-close
{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

.modal-box-header-btn-close:hover,
.modal-box-header-btn-close:focus
{
    color: white;
    text-decoration: none;
    cursor: pointer;
}