<li [class]="classCss" [style]="cssStyle">
    <a > <!--[routerLink]="link"-->
        <i [class]="fa_icon"></i> 
        {{label}} 
        <span [class]="'label right '+etiquetteClass">
            {{etiquette}}
        </span>
    </a>
</li>