<div class="container" *ngIf="!waitingForm" >
    <div class="section" >
        <app-search-input (keyupEvent)="findPersonnel($event)"></app-search-input>
        <div class="divider"></div>

        <div class="row">
            <div class="col s12">
                <table class="striped Highlight centered">
                    <thead>
                        <tr>
                            <th>Nom & prenom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cv of currCVPersonnel">
                            <td>{{cv.firstName}} {{cv.lastName}}</td>
                            <td>
                                <input type="checkbox" [checked]="choisiPersonnel.hasOwnProperty(cv.idPersonnel)"  (click)="choisiPersonnel(cv.idPersonnel)" [id]="cv.idPersonnel">
                                <label [for]="cv.idPersonnel" style="text-decoration: none;">
                                    Selectionner/Déselectionner ce personnel
                                </label>
                            </td> 
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top:5%" *ngIf="loading">
            <div class="progress">
            <div class="indeterminate"></div>
            </div>
            <div class="center">
            Chargement des données...
            </div>
        </div>
    </div>
    <div class="divider" style="margin-top:15px"></div>
        <div class="row" style="margin-top:15px">
            <div class="col s12">
                <button  class="btn green right" [disabled]="shoulDisabledSubmitButton" (click)="validStep()">
                    <i class="material-icons">check</i> Valider
                </button>
            </div>
        </div>
</div>
<div class="row" *ngIf="waitingForm">
    <div class="progress" >
        <div class="indeterminate"></div>
    </div>
    <div class="center">
        Veuillez patientez...
    </div>
</div> 
