<ul class="list">       
    <li class="clearfix">
        <img src="./assets/images/logo/logo_ingenierie.png" class="avatar-message circle" alt="avatar" />
        <div class="about">
        <div class="name">Agropme Ingénieurie</div>
        <div class="status">
            <i class="fa fa-circle online"></i> online
        </div>
        </div>
    </li>

    <li class="clearfix">
        <img src="./assets/images/logo/logo_fondation.png" alt="avatar" />
        <div class="about">
        <div class="name">Agropme Fondation</div>
        <div class="status">
            <i class="fa fa-circle offline "></i> left 30 mins ago
        </div>
        </div>
    </li>

</ul>