<div class="caption">
    <div class="row">
        <div class="col s6 offset-m3">
            <div class="header-search-wrapper">
                <i class="material-icons">search</i>
                <input type="text" (keyup)="submit($event)" [formControl]="input" name="Search" class="header-search-input z-depth-2" [placeholder]="placeholder" />
            </div>
        </div>
    </div>
</div>