<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<!--start container-->
<div class="container">
    <div class="section">
        <p class="caption">Remplissez vos informations</p>
        <div class="divider"></div>
        <!--Start formulaire travaux suivi quotidien-->
        <div class="row">
            <form class="col s12">  
                <div class="row">
                    <div class="input-field col s6">
                        <input id="id_refdossier" type="text">
                        <label for="id_refdossier">Ref. Dossier</label>
                    </div>
                     <div class="input-field col s6">
                        <input id="id_titredossier" type="text">
                        <label for="id_titredossier">Titre du dossier</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="id_service" type="text">
                        <label for="id_service">Service (SC)</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="id_nom" type="text" class="text">
                        <label for="id_nom">Nom (RD)</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <label for="id_mois_annee">Mois/année</label>
                        <input id="id_mois_annee" type="text" class="datepicker">                        
                    </div>
                    <div class="input-field col s6">
                        <input id="id_service" type="text" class="datepicker">
                        <label for="id_service">Date</label>
                    </div>
                </div>
                
                <!--Equipes d'execution-->
                <li class="step">
                    <div class="step-content">
                        <div class="row table_langue dynamic-table">
                            <div class="col s11 m11 l11">
                                <table class="Highlight bordered  card">
                                    <thead>
                                        <tr>
                                            <th>Date ou période</th>
                                            <th>Nature d'intervention</th>
                                            <th>Intervenants</th>
                                            <th>Durée effective (en h ou j)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>                     
                                </table>
                            </div>
                            <div class="col s1 m1 l1">
                                <div class="dynamic-table-options card">
                                    <i class="material-icons waves-green waves-effect waves-light add_cell">add_circle_outline</i>
                                    <i class="material-icons waves-effect waves-green waves-light remove_cell">close</i>
                                </div>
                            </div> 
                        </div>
                    </div>
                </li>
                <!-- END Equipes d'execution-->
            </form>
        </div>
        <!--END formulaire travaux suivi quotidien-->
    </div>
</div>
<!--end container-->