header .brand-logo
{
    padding:2px 10px;
}
header .brand-logo img
{
    height: 60px;
}
h1 span.logo-text
{
    vertical-align: text-top;
}

.underline
{
    text-decoration: underline;
}

#slide-out li .collapsible-body a i
{
    font-size:0.7em;
}


.sidenav-dark {
    background: #2c323f;
}
.sidenav-main {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}
.gradient-45deg-deep-purple-blue {
    background: -webkit-linear-gradient(45deg,#6200ea,#1976d2) !important;
    background: linear-gradient(45deg,#6200ea,#1976d2) !important;
}