<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<!--start container-->
<div class="container">
    <div class="section">
        <p class="caption">Remplissez vos informations</p>
        <div class="divider"></div>
        <!--Start formulaire travaux suivi quotidien-->
        <div class="row">
            <form class="col s12">  
                <div class="row">
                    <div class="input-field col s6">
                        <input id="refdossier" type="text">
                        <label for="refdossier">Service (SC)</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="montant_contrat" type="text" class="text">
                        <label for="montant_contrat">Nom (RD)</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <label for="id_client">Mois/année</label>
                        <input id="id_client" class="datepicker" type="text">                        
                    </div>
                    <div class="input-field col s6">
                        <input id="id_service" class="datepicker" type="text">
                        <label for="id_service">Date rapport</label>
                    </div>
                </div>
                
                <!--Equipes d'execution-->
                <li class="step">
                    <div class="step-content">
                        <div class="row table_langue dynamic-table">
                            <div class="col s11 m11 l11">
                                <table class="Highlight bordered  card">
                                    <thead>
                                        <tr>
                                            <th>Objet du contrat + références</th>
                                            <th>Client</th>
                                            <th>Montant</th>
                                            <th>Recouvrement achevée</th>
                                            <th>Solde</th>
                                            <th>Echéance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>                     
                                </table>
                            </div>
                            <div class="col s1 m1 l1">
                                <div class="dynamic-table-options card">
                                    <i class="material-icons waves-green waves-effect waves-light add_cell">add_circle_outline</i>
                                    <i class="material-icons waves-effect waves-green waves-light remove_cell">close</i>
                                </div>
                            </div> 
                        </div>
                    </div>
                </li>
                <!-- END Equipes d'execution-->
            </form>
        </div>
        <!--END formulaire travaux suivi quotidien-->
    </div>
</div>
<!--end container-->