/*Search box*/
.header-search-wrapper {
    margin: 10px auto 0 260px;
    width: calc(100% - 600px);
    height: 40px;
    display: inline-block;
    position: relative;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    -moz-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .header-search-wrapper.sideNav-lock {
    margin: 10px auto 0 260px;
  }
  
  .header-search-wrapper i {
    position: absolute;
    font-size: 24px;
    top: 6px;
    left: 24px;
    line-height: 32px !important;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
  }
  
  input.header-search-input {
    display: block;
    padding: 8px 8px 8px 72px;
    width: 87%;
    background: #fff; /*rgba(255, 255, 255, 0.3);*/
    height: 24px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
    color: #333 !important;
  }
  
  input.header-search-input:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  
  input.header-search-input:focus {
    background: #fff;
    border-bottom: none !important;
    box-shadow: none !important;
  }
  
  .header-search-wrapper-focus i {
    color: #444;
  }
  
  .header-search-input::-webkit-input-placeholder {
    color: #444;
    font-size: 16px;
    font-weight: 400;
  }
  
  .header-search-input::-moz-placeholder {
    color: #444;
    font-size: 16px;
    font-weight: 400;
  }
  
  .header-search-input:-ms-input-placeholder {
    color: #444;
    font-size: 16px;
    font-weight: 400;
  }
  
  .header-search-input:focus::-webkit-input-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
  }
  
  .header-search-input:focus::-moz-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
  }
  
  .header-search-input:focus::placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
  }
  
  .header-search-input:focus:-ms-input-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
  }
  
  .header-search-input::placeholder {
    color: #444;
    font-size: 16px;
    font-weight: 400;
  }

  .link-personnel-action
  {
    margin-left: 10px;
    font-size: 17px;
    color: black;
  }
  .link-personnel-action:hover
  {
    color:blue;
  }