<div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{title}}</h3>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    <input type="text" class="form-control input-sm" placeholder="Search Mail"/>
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <button class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i></button>
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                                </div><!-- /.btn-group -->
                                <button class="btn btn-default btn-sm"><i class="far fa-refresh"></i></button>
                                <div class="right">
                                    1-50/200
                                    <div class="btn-group">
                                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                    </div><!-- /.btn-group -->
                                </div><!-- /.pull-right -->
                            </div>
                            <div class="mailbox-messages">
                                <table class="responsive-table table highlight striped">
                                    <tbody>
                                        <!--<app-inbox-mail
                                            sender="Cedric Nguendap"
                                            title="Agro-pme digitalisation"
                                            content="- Intranet de digitalisation de la structure Agro-PME ..."
                                            hasAttachment=true
                                            date="28 mins ago"
                                        ></app-inbox-mail>-->
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                        <td class="mailbox-date">11/11/2020</td>
                                        </tr>
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">15/11/2020</td>
                                        </tr>
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                        <td class="mailbox-date">13/11/2020</td>
                                        </tr>
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                        <td class="mailbox-date">2/11/2020</td>
                                        </tr>
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                        <td class="mailbox-date">2/11/2020</td>
                                        </tr>
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">2/11/2020</td>
                                        </tr>
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">2/11/2020</td>
                                        </tr>
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">2/11/2020</td>
                                        </tr>
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                        <td class="mailbox-date">4/11/2020</td>
                                        </tr>
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">12/11/2020</td>
                                        </tr>
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                        <td class="mailbox-date">12/11/2020</td>
                                        </tr>
                                        <tr>
                                        <td><input type="checkbox" /></td>
                                        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="read-mail.html">Cédric Nguendap</a></td>
                                        <td class="mailbox-subject"><b>Agro-pme digitalisation</b> - Intranet de digitalisation de la structure Agro-PME ...</td>
                                        <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                        <td class="mailbox-date">14/11/2020</td>
                                        </tr>
                                    </tbody>
                                </table><!-- /.table -->
                            </div><!-- /.mail-box-messages -->
                        </div><!-- /.box-body -->
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>                    
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                                </div><!-- /.btn-group -->
                                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                <div class="right">
                                    1-50/200
                                    <div class="btn-group">
                                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                    </div><!-- /.btn-group -->
                                </div><!-- /.pull-right -->
                            </div>
                        </div>
                    </div><!-- /. box -->