<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<div class="container">
    <div class="section">
        <p class="caption">Formulaire du nouveau projet</p>
        <div class="divider"></div>

         <app-flash-message [duration]="durationFlashMessage" 
            [show]="showFlashMessage" [type]="typeFlashMessage" 
            [content]="messageFlashMessage" (eventChange)="changeFlashMessageStatut($event)">
        </app-flash-message>

        <div class="row">
            <div class="col s12"> 
                <form [formGroup]="form"  (ngSubmit)="submit()">
                    <div class="row">
                        <div class="input-field col s6">
                            <input [formControlName]="'title'" id="title" type="text">
                            <label for="title">Titre du projet</label>
                        </div>    
                        <div class="input-field col s6">
                            <select [formControlName]="'projet_type'">
                                <option disabled selected>Type de projet</option>
                                <option *ngFor="let type of projet_type" [ngValue]="type.id">
                                    {{ type.text }}
                                </option>
                            </select>
                        </div>                        
                    </div>
                    <div class="row">
                         <div class="input-field col s6">
                            <input [formControlName]="'dateDebut'" id="dateDebut" class="datepicker_debut_new_projet" type="text">
                            <label for="dateDebut">Date debut projet</label>
                        </div>  
                        <div class="input-field col s6">
                            <input [formControlName]="'dateFin'" id="dateFin" class="datepicker_fin_new_projet" type="text">
                            <label for="dateFin">Date fin projet</label>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input [formControlName]="'clientName'" id="clientName" type="text">
                            <label for="clientName">Nom du client</label>
                        </div>    
                        <div class="input-field col s6">
                            <input [formControlName]="'clientMail'" id="clientMail" type="email">
                            <label for="clientMail">Mail du client</label>
                        </div>            
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s6">
                            <input [formControlName]="'telClient'" id="telClient" type="tel">
                            <label for="telClient">Telephone du client</label>
                        </div>  
                        <div class="input-field col s6">
                            <input [formControlName]="'localisationClient'" id="localisationClient" type="text">
                            <label for="localisationClient">Localisation du client</label>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input [formControlName]="'description'" id="description" type="text">
                            <label for="description">Decription du projet</label>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col s12 center red-text" *ngIf="!form.valid">{{errorModalFormMessage}}</div>
                    </div>
                    <div class="row" *ngIf="waitingForm">
                        <div class="progress" >
                            <div class="indeterminate"></div>
                        </div>
                        <div class="center">
                            Veuillez patientez...
                        </div>
                    </div>
                    <div class="row" *ngIf="!waitingForm">
                        <div class="col s8">
                            <button class="btn red right" type="submit">
                                <i class="material-icons">refresh</i> Annuler
                            </button>
                        </div>
                        <div class="col s3">
                            <button class="btn green right" type="submit">
                                <i class="material-icons">check</i> Valider
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
              