<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">{{title}}</h3>
    </div>
    <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
            <ng-content></ng-content>
        </ul>
    </div><!-- /.box-body -->
</div><!-- /. box -->