<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<div class="container">
    <div class="section">
        <p class="caption">Liste des projets</p>
        <div class="divider"></div>

        <div class="row ">
            <div class="col s12"> 
              <div class="caption">
                <div class="row">
                    <div class="col s6 offset-m3">
                        <div class="header-search-wrapper">
                            <i class="material-icons">search</i>
                            <input type="text" (keyup)="findProjet($event)" [formControl]="projetFindInput" name="Search" class="header-search-input z-depth-2" placeholder="Rechercher projet" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12"> 
              <table class="striped Highlight centered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Titre</th>
                            <th>Type</th>
                            <th>Nom client</th>
                            <th>Date debut</th>
                            <th>Etat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let projet of currProcessList">
                            <td>{{projet.title}}</td>
                            <td>{{projet.type}}</td>
                            <td>{{projet.client.nomPrenom}}</td>
                            <td>{{projet.dateDebut}}</td>
                            <td>{{projet.isEnd()?'Terminé':'En cours'}}</td>
                        </tr>                  
                    </tbody>
                </table>
            </div>
          </div>
</div>
</div>
              