<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">
  <!-- Search for small screen -->
  <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
  </div>
  <div class="container">
    <div class="row">
      <div class="col s10 m6 l6">
        <h5 class="breadcrumbs-title">{{title}}</h5>
        <ol class="breadcrumbs">
          <li *ngFor="let item of path;index as i" >
            <a [routerLink]="[item.link]" [ngClass]="{'active':(path.length-1)===i}">{{item.text}}</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->