<app-preloader></app-preloader>
<app-nav-bar></app-nav-bar>
<div id="main">
    <app-flash-message [duration]="durationFlashMessage" 
        [show]="showFlashMessage" [type]="typeFlashMessage" 
        [content]="messageFlashMessage" 
        [temporairyFlash]="temporairyFlash"
        (eventChange)="changeFlashMessageStatut($event)">
    </app-flash-message>

    <div class="wrapper">
        <app-left-sidebar-nav></app-left-sidebar-nav>

        <section id="content">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>
<app-footer></app-footer>
