<form  (ngSubmit)="submit()" [formGroup]="form">
    <div class="section"  *ngIf="!waiting">
        <ng-container *ngFor="let child of childs">
            <div class="row">
                <ng-container *ngFor="let form_el of child">
                    <ng-container *ngIf="form_el.html=='select'">
                        <div [class]="'input-field '+form_el.container_class">
                            <i class="material-icons prefix pt-2">{{form_el.icon}}</i>
                            <select [formControlName]="form_el.id" [class]="form_el.input_class">
                                <option disabled selected>{{form_el.text}}</option>
                                <option *ngFor="let option of form_el.options" [ngValue]="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form_el.html=='input' && form_el.type!='checkbox' && form_el.type!='file'">
                        <div [class]="'input-field '+form_el.container_class">
                            <i class="material-icons prefix pt-2">{{form_el.icon}}</i>
                            <input [id]="form_el.id" [class]="form_el.input_class" [type]="form_el.type" [formControlName]="form_el.id">
                            <label [for]="form_el.id" class="center-align">{{form_el.text}}</label>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form_el.html=='input' && form_el.type=='checkbox'">
                        <div [class]="form_el.container_class">
                            <i class="material-icons prefix pt-2">{{form_el.icon}}</i>
                            <input [id]="form_el.id" [class]="form_el.input_class" [type]="form_el.type" [formControlName]="form_el.id">
                            <label [for]="form_el.id" class="center-align">{{form_el.text}}</label>
                        </div>
                    </ng-container>
                     <ng-container *ngIf="form_el.html=='input' && form_el.type=='file'">
                        <div [class]="'file-field input-field '+form_el.container_class" [title]="form_el.text">
                            <div class="btn">
                                <span>{{form_el.btn_text}}</span>
                                <input type="file" [multiple]="form_el.multiple" />
                            </div>
                            <div class="file-path-wrapper">
                                <input [class]="'file-path validate '+form_el.input_class" type="text" [placeholder]="form_el.text">
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
        
        <div class="row">
            <div class="col s12 center red-text" *ngIf="!form.valid">{{textError}}</div>
            <!--Form {{form.valid}}-->
        </div>
        <div class="divider" style="margin-top:15px"></div>
        <div class="row" style="margin-top:15px">
            <div class="col s12">
                <button class="btn green right"  type="submit">
                    <i class="material-icons">check</i> {{textBtn}}
                </button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="waiting">
        <div class="progress" >
            <div class="indeterminate"></div>
        </div>
        <div class="center">
            {{textWaiting}}
        </div>
    </div> 
      
</form>
  