<div class="modal-box" #refModalBox [ngStyle]="{'display':show?'block':'none'}">
    <div class="modal-box-content" [ngStyle]="{'width':width}">
        <app-modal-box-header [modalTitle]="title" [bgcolor]="headerbackground" [textcolor]="headerforeground" (eventClose)="close()"></app-modal-box-header>
        <ng-content></ng-content>
        <app-modal-box-footer [background]="headerbackground" >
            <button class="btn" *ngIf="showOkBtn" (click)="acceptEvent()">{{OkBtnText}}</button>
            <button class="btn" *ngIf="showNoBtn" (click)="refuseEvent()">{{NoOkBtnText}}</button>
        </app-modal-box-footer>
    </div>
</div>
