.modal-box
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-box-content
{
    background-color: #fefefe;
    margin: 15% auto;
    /* padding: 20px; */
    border:1px solid #888;
    width: 80%;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }