<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<!--start container-->
<div class="container">
    <div class="section">
        <p class="caption">Remplissez vos informations</p>
        <div class="divider"></div>
        <!--Start formulaire cv-->
        <div class="row">
            <form class="col s12">  
                <div class="row">
                    <div class="input-field col s6">
                        <input id="titredossier" type="text">
                        <label for="titredossier">Titre du dossier</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="refdossier" type="text">
                        <label for="refdossier">Référence dossier</label>
                    </div>
                </div>

                <div class="row">                    
                    <div class="input-field col s6">
                        <input id="montant_contrat" type="text" class="text">
                        <label for="montant_contrat">Montant contrat</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="ref_contrat" type="text" class="text">
                        <label for="ref_contrat">Réf. Contrat</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="id_client" type="text">
                        <label for="id_client">Client</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="id_beneficiaire" type="text" class="text">
                        <label for="id_beneficiaire">Bénéficiaire</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="id_service" type="text">
                        <label for="id_service">Service concerné (SC)</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="id_responsable" type="text">
                        <label for="id_responsable">Responsable du dossier (RD)</label>
                    </div>
                </div>
                

                <!--Equipes d'execution-->
                <li class="step">
                    <div class="step-title waves-effect">Equipes d'execution :</div>
                    <div class="step-content">
                        <div class="row table_langue dynamic-table">
                            <div class="col s11 m11 l8">
                                <table class="Highlight bordered  card">
                                    <thead>
                                        <tr>
                                            <th>Noms</th>
                                            <th>Nature d'intervention</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>                     
                                </table>
                            </div>
                            <div class="col s1 m1 l1">
                                <div class="dynamic-table-options card">
                                    <i class="material-icons waves-green waves-effect waves-light add_cell">add_circle_outline</i>
                                    <i class="material-icons waves-effect waves-green waves-light remove_cell">close</i>
                                </div>
                            </div> 
                        </div>
                    </div>
                </li>
                <!-- END Equipes d'execution-->

                <div class="column">
                    <ul>
                        <li>
                            <div class="row">
                                <div class="input-field col s6">
                                    <label for="prevu_contrat">Prévue dans le contrat</label>
                                    <input id="prevu_contrat" type="text">
                                </div>   
                                <div class="input-field col s6">
                                    <label for="debut_affectif_exec">Début effectif d’exécution</label>
                                    <input id="debut_affectif_exec" type="text">
                                </div>  
                            </div>                         
                        </li>
                        <li>
                            <div class="row">
                                <div class="input-field col s4">
                                    <label for="prevu_contrat">Prévue dans le contrat</label>
                                    <input id="prevu_contrat" type="text">
                                </div> 
                                <div class="input-field col s4">
                                    <label for="date_ouverture_dossier">Date d’ouverture du dossier</label>
                                    <input id="date_ouverture_dossier" type="text">
                                </div>   
                                <div class="input-field col s4">
                                    <input id="delais_execution" type="text">
                                    <label for="delais_execution">Délai d’exécution</label>
                                </div>
                            </div>    
                        </li>
                        <li>
                            <div class="row">
                                <div class="input-field col s6">
                                    <label for="delais_execution">Annexes (pièces à lister : planning, TDR, contrat, etc.).</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </form>
        </div>
        <!--END formulaire cv-->
    </div>
</div>
<!--end container-->