<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<!--start container-->
<div class="container">
    <div class="section" *ngIf="findPersonnel">
        <p class="caption">Remplissez vos informations</p>
        <div class="divider"></div>
        <!--Start formulaire cv-->
        <div class="row">
            <form class="col s12" [formGroup]="form" (ngSubmit)="submit()">  
                <ul class="stepper">
                    <!--Identification-->
                    <li class="step active">
                        <div class="step-title waves-effect">Identification</div>
                        <div class="step-content">
                            <!-- Your step content goes here (like inputs or so) -->
                            <div class="step-body">
                                <div class="row">
                                    <div class="input-field col s8">
                                        <input id="flname" [formControlName]="'nom_prenom'" disabled type="text">
                                        <label class="active" for="flname">Nom et Prénom</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="devaluateur" [formControlName]="'devaluateur'" type="text">
                                        <label for="devaluateur" class="active">Dévaluateur</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="datemiseajour" [formControlName]="'datemiseajour'" disabled type="text" class="datepicker">
                                        <label class="active" for="datemiseajour">Date de mise à jour</label>
                                    </div>                                 
                                </div>                                                   
                            </div>
                        </div>
                    </li>
                    <!-- END identification-->

                    <!--Criteres/scores-->
                    <li class="step">
                        <div class="step-title waves-effect">CRITERES / SCORES</div>
                        <div class="step-content">
                            <div class="row ">
                                <div class="col s12 m12 l12">
                                    <table class="Highlight bordered  card">
                                        <thead>
                                            <tr>
                                                <th>Critere principal: Score partiel</th>
                                                <th>Criteres spécifiques</th>
                                                <th>Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>               
                                                    <h5>Formation Initial:</h5>               
                                                    <div class="row">
                                                        <div class="input-field col s12 l12">
                                                            <label for="score_initial">Score {{evaluation.totalFormation()}}/10</label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li class="input-field">Niveau académique</li>
                                                        <li class="input-field">Réputation de l'institution</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="input-field col s8">
                                                        <input id="score_academique" [formControlName]="'formation_acad'" type="number" >
                                                        <label for="score_academique" class="active">Score /10</label>
                                                    </div>
                                                    <div class="input-field col s8">
                                                        <input id="score_institution" [formControlName]="'formation_reput'" type="number" >
                                                        <label for="score_institution" class="active">Score /10</label>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <h5>Compétence experience:</h5>
                                                    <div class="row">                              
                                                        <div class="input-field col s12 l12">                                                           
                                                            <label for="score_competence_experience" class="active"> Score {{evaluation.totalCompetence()}}/10</label>
                                                        </div>
                                                    </div >
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li class="input-field">Traveaux réalisés dans le domaine de l'expertise</li>
                                                        <li class="input-field">Réputation des clients</li>
                                                        <li class="input-field">Expérience dans la pratique</li>
                                                        <li class="input-field">Expérience comme formateur chercher</li>
                                                        <li class="input-field">Expérience comme consultant</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="input-field col s8">
                                                        <input id="score_domaine_expertise" [formControlName]="'compet_tra_real'" type="number" >
                                                        <label for="score_domaine_expertise" class="active">Score /50</label>
                                                    </div>
                                                    <div class="input-field col s8">
                                                        <input id="score_reputation_client" [formControlName]="'compet_reput_client'" type="number" >
                                                        <label for="score_reputation_client" class="active">Score /50</label>
                                                    </div>
                                                    <div class="input-field col s8">
                                                        <input id="score_experience_pratique" [formControlName]="'compet_exp_prat'" type="number" >
                                                        <label for="score_experience_pratique" class="active">Score /50</label>
                                                    </div>
                                                    <div class="input-field col s8">
                                                        <input id="score_experience_formateur" [formControlName]="'compet_exp_forma'" type="number" >
                                                        <label for="score_experience_formateur" class="active">Score /50</label>
                                                    </div>
                                                    <div class="input-field col s8">
                                                        <input id="score_experience_consultant" [formControlName]="'compet_exp_consult'" type="number" >
                                                        <label for="score_experience_consultant" class="active">Score /50</label>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <h5>Disponibilite des outils de travail de base:</h5>
                                                    <div class="row">                              
                                                        <div class="input-field col s12 l12">
                                                            <label for="score_dispo_outil_base"> Score {{evaluation.totalDisponibilite()}}/25</label>
                                                        </div>
                                                    </div >
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li class="input-field">Véhicule personnel avec permis de conduire</li>
                                                        <li class="input-field">Personnal computer (PC)</li>
                                                        <li class="input-field">Maîtrise traitement de texte sur PC</li>
                                                        <li class="input-field">Tél ou Fax privé</li>                                
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="input-field col s8">
                                                        <input id="score_vehicule_personnel" [formControlName]="'dispo_vehi_perso'" type="number" >
                                                        <label for="score_vehicule_personnel" class="active">Score /25</label>
                                                    </div>
                                                    <div class="input-field col s8">
                                                        <input id="score_pc" type="number" [formControlName]="'dispo_pc'" >
                                                        <label for="score_pc" class="active">Score /25</label>
                                                    </div>
                                                    <div class="input-field col s8">
                                                        <input id="score_maitrise_traitement_text" [formControlName]="'dispo_mait_trait_text'" type="number" >
                                                        <label for="score_maitrise_traitement_text" class="active">Score /25</label>
                                                    </div>
                                                    <div class="input-field col s8">
                                                        <input id="score_tel_fax_prive" [formControlName]="'dispo_telou_fax'" type="number" >
                                                        <label for="score_tel_fax_prive" class="active">Score /25</label>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>               
                                                    <h5>Qualité personnel (trait de caractére):</h5>               
                                                    <div class="row">
                                                        <div class="input-field col s12 l12">
                                                            <label for="score_qualite_personnel">Score {{evaluation.totalQualite()}}/10</label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li class="input-field">Réputation</li>
                                                        <li class="input-field">Comportement</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="input-field col s8">
                                                        <input id="score_reputation" [formControlName]="'qual_reput'" type="number" >
                                                        <label for="score_reputation" class="active">Score /10</label>
                                                    </div>
                                                    <div class="input-field col s8">
                                                        <input id="score_comportement" [formControlName]="'qual_comport'" type="number" >
                                                        <label for="score_comportement" class="active">Score /10</label>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>               
                                                    <h5>Disponibilite:</h5>               
                                                    <div class="row">
                                                        <div class="input-field col s12 l12">
                                                            <input id="score_disponibilité" [formControlName]="'dispo'" type="number" >
                                                            <label for="score_disponibilité" class="active">Score /5</label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <span>Les occupations actuelles du candidat lui permettent-elles de se libérer 
                                                    facilement pour des missions de courte durée ?</span>
                                                </td>                              
                                            </tr>

                                        </tbody>                     
                                    </table>
                                </div>
                            </div>
                            <h5>Score total: {{evaluation.total()}}/100</h5>
                            <blockquote><h5>Classement</h5></blockquote>
                            <div>
                                <ul>
                                    <li>Niveau I (score ≥ 80 points)</li>
                                    <li>Niveau II (60 ≥ score <  80)</li>
                                    <li>Niveau III (score < 60)</li>
                                </ul>
                            </div>                            
                        </div>
                    </li>
                    <!-- END Criteres/Scores-->                     
                </ul>
                <div class="row" *ngIf="waitingForm">
                    <div class="progress" >
                        <div class="indeterminate"></div>
                    </div>
                    <div class="center">
                        Veuillez patientez...
                    </div>
                </div>
                <div class="row" *ngIf="!waitingForm">
                    <div class="col s10">
                        <button class="btn red right" type="reset">
                            <i class="material-icons">refresh</i> Annuler
                        </button>
                    </div>
                    <div class="col s2">
                        <button class="btn green right" type="submit">
                            <i class="material-icons">check</i> Valider
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--END formulaire cv-->
    </div>
    <div class="section " *ngIf="!findPersonnel">
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m10 offset-m1">
            <div class="row card-panel gradient-45deg-red-pink gradient-shadow">
                <div class="col s4">
                <i class="material-icons large white-text">warning</i>
                </div>
                <div class="col s8">
                <span class="white-text">Le personnel dont l'identifiant a été fournis est innexistant! 
                    Veuillez vous rassurer de son existance. Dans le cas d'une erreur, raproché vous de l'administrateur 
                    pour la résolution de cette erreur</span>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!--end container-->