<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>
<!--start container-->
<div class="container">
    <div class="section">
        <p class="caption">Vos discussions</p>
        <div class="divider"></div>  
        <app-chat></app-chat>
    </div>
</div>