<tr>
    <td><input type="checkbox" /></td>
    <!--<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>-->
    <td class="mailbox-name"><a >{{sender}}</a></td><!--[routerLink]="link"-->
    <td class="mailbox-subject"><b>{{title}}</b> {{content}}</td>
    <td class="mailbox-attachment">
        <ng-template *ngIf="hasAttachment==true">
            <i class="fa fa-paperclip"></i>
        </ng-template>
    </td>
    <td class="mailbox-date">{{date}}</td>
</tr>